<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="base::layout(~{::section}, 'About New Page')">
<head>
<meta charset="UTF-8" />
<title>About New</title>
</head>
<body>

	<section>

		<h1>this is about new section</h1>

		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
			Nostrum consequatur reiciendis voluptatem assumenda est veritatis
			eligendi temporibus maiores incidunt. Vitae adipisci voluptatum
			possimus libero non accusamus quod amet ab consequatur.</p>
	</section>

</body>
</html>