<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Footer Template</title>
</head>
<body>

	<footer id="fragmentTag" th:fragment="footer1">
		<div class="container">
			<h1>About the App</h1>
			<h1>Feel free to contact</h1>

			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
				Deleniti tempora magnam nisi molestias ad illo perferendis
				voluptatibus deserunt eligendi reprehenderit ipsa quibusdam nesciunt
				blanditiis eaque beatae id quae. Quaerat pariatur eum sapiente amet
				quae suscipit ex modi quo rerum facere aspernatur nulla libero
				dolorum illum veniam dolorem ducimus dicta totam.</p>
		</div>
	</footer>

	<footer id="fragmentTag" th:fragment="footer2(title, subtitle)">
		<div class="container">
			<h1 th:text="${title}"></h1>
			<h1 th:text="${subtitle}"></h1>
			<h1>About the App</h1>
			<h1>Feel free to contact</h1>

			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
				Deleniti tempora magnam nisi molestias ad illo perferendis
				voluptatibus deserunt eligendi reprehenderit ipsa quibusdam nesciunt
				blanditiis eaque beatae id quae. Quaerat pariatur eum sapiente amet
				quae suscipit ex modi quo rerum facere aspernatur nulla libero
				dolorum illum veniam dolorem ducimus dicta totam.</p>
		</div>
	</footer>

</body>
</html>