<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Fragments Example</title>
</head>
<body>
	<h1>Fragments Example</h1>

	<br>

	<!-- bring footer here -->
	<footer id="hostReplaceTag" th:replace="footer::footer1"></footer>
	<footer id="hostIncludeTag" th:include="footer::footer1"></footer>
	<footer id="hostInsertTag" th:insert="footer::footer1"></footer>
	<footer id="dynamicValueTag"
		th:replace="footer::footer2('this is title','this is subtitle')"></footer>
	<footer id="dynamicModelValueTag" th:replace="footer::footer2(${title}, ${subtitle})"></footer>
</body>
</html>